<div id="tabs">
  <ul class="tabs">
    <li><%= link_to("From Your Team", '#team') %></li>
    <li><%= link_to("Search", '#search') %></li>
  </ul>

  <div class="tablcontent" id="team">
    <%- for person in current_person.team_members(true) -%>
    <div id="new_reviewer_<%=person.id%>"><%= link_to "#{gender_icon(person)} #{person.full_name}".html_safe, review_reviewers_url(@review.id, "reviewer[person_id]" => person.id), :method => :post, :remote => true %></div>
    <%- end -%>
  </div>
  <div class="tablcontent" id="search">
    search here
  </div>
</div>
