<p>You are reviewing <span class="person_being_reviewed male">George Clooney.</span> Select the person who is requesting this review.</p>

<%= link_to("I am requesting the review", "", :class=> 'dialog-fake-button') %>

<div class="action_title">Search for someone to review:</div>
<div class="tablcontent" id="search">
  <input type="text"><button type="submit"><span>Search</span></button>
</div>

<div class="action_title">Or, select someone from your team:</div>
<div class="tablcontent" id="team">
  <%- for person in current_person.team_members -%>
  <div class="r_row" id="new_reviewer_<%=person.id%>"><%= link_to "#{gender_icon(person)} #{person.full_name}".html_safe, review_reviewers_url(@review.id, "reviewer[person_id]" => person.id), :method => :post, :remote => true %></div>
  <%- end -%>
</div>
  
