<style>
  body {background: #efefef;}
</style>

<div id="padwrap">
  <h2><%= @review.subject.full_name %> <%= @review.name %><div class="reviewername">by <%= @reviewer.person.full_name %></div></h2>
  
  <%= render :template => 'answer_sheets/edit' %>
  <div class="clear"></div>
</div>