<div id="contextmenu">
  <ul class="left">
    <li><%= link_to('Start a Review', new_review_url, :class => "start withicon #{'selected' if starting_review}") %></li>
    <li><%= link_to('My Reviews', '', :class => 'my withicon') %></li>
  </ul>
  <div class="clear"></div>
</div>
