          <table class="people">
            <thead>
              <tr>
                <th class="gender"></th>
                <th class="name">Name</th>
                <th class="reviewname">Review Name</th>
                <th class="accdate">Due Date</th>
                <th class="status">Status</th>
              </tr>
            </thead>
            <tbody>
              <%- for reviewing in reviewings; review = reviewing.review -%>
                <td class="gender"><%= gender_icon(review.subject) %>
                <td class="name"><%= link_to(review.subject.full_name, person_url(review.subject)) %></th>
                <td class="reviewname"><%= link_to(review.name, edit_review_reviewer_url(review.id, reviewing.id)) %></th>
                <td class="duedate"><%= I18n.l review.due %></th>
                <td class="status">0%</th>
              <%- end -%>
            </tbody>
          </table>
