<h2><%= @personal_form.person.informal_full_name %></h2>

<%= render :template => 'answer_sheets/edit' %>

<script>
  $(document).ready(function() {
    $("#controls").append("<%= escape_javascript(link_to("Print", print_url, :class => "print_button", :target => "_blank")) %>");
  });
</script>
