<div id="controls">
  <%- unless params[:view] == "print" -%>
  <%= link_to "Print", print_url("&view=print"), :target => "_blank", :class => "print_button" %>
  <%- end -%>
  <div id="panel">
    <div class="panel">
      &nbsp;
    </div>
  </div>
</div>

<div id="preview" class="answer-page">
    
<%= render :partial => 'answer_sheets/answer_sheet', :locals => {:answer_sheet => @answer_sheet, :elements => @elements } %>

</div>
