#padwrap {
  padding: 10px;

  #controls {
   width: 270px; }

  textarea {
    width: 400px; }

  h2 {
    margin-bottom: 1.5em;
    font-size: 20px; }

  button {
    font-family: Arial;
    padding: 5px 10px; } 

  ul#list-pages {
    margin-bottom: 15px; }

  .reviewername {
    font-size: 14px;
    color: #999;
    padding-top: 5px; }

  .field label {
    display: inline; } 
}

.lesspad {
  padding: 0 0 0 2em; 
  li { list-style-type: initial; }
}

#padwrap .field_check input[type="checkbox"] {}
#padwrap .field_check input[type="radio"]    {}

.help2 {
  float: right;
  font-size:12px;
  font-weight:bold; }
