<%= hidden_field_tag "step", "initiator" %>
<p class="describe">
<%= render "describe_review_header" %> Please select the administrator of the review who can add and remove reviewers as well as view all the review results.
</p>

<div class="action_title">
  <div>Who is administering this review?</div>
  <br/>
  <input type="radio" name="whoreview" id="ireview" checked="true">
  <%= link_to_function current_person.informal_full_name, %|new_review_select_choice("initiator_", #{current_person.id}); $("#ireview")[0].checked = true| %>
</div>

<div class="action_title">
  <input type="radio" name="whoreview" id="searchfor">
  <div id="search" style="display: inline;">
    Or, Search for an administrator:
    <input type="text", id="initiator_search_name">
  </div>
</div>

<div class="tablcontent" id="team">
  &nbsp;
</div>
