<%= hidden_field_tag "step", "details" %>
<%= render "describe_review_header" %> Select reviewers.</p>
<%= form_for @review, :remote => true do |f| %>
  <%= render 'reviews/form', :f => f %>
<% end %>
