
  You are reviewing <span class="reviewername <%= @subject.pr_human_gender %>"><%= @subject.informal_full_name %></span>. 
  <%- if @initiator %>As administrated by <span class="reviewername <%= @initiator.pr_human_gender %>"><%= @initiator.informal_full_name %></span>.<%- end -%>
