
  You are reviewing <span class="reviewername <%= @subject.pr_human_gender %>"><%= @subject.full_name %></span>. 
  <%- if @initiator %>As requested by <span class="reviewername <%= @initiator.pr_human_gender %>"><%= @initiator.full_name %></span>.<%- end -%>
