<table class="people">
<thead>
  <tr>
    <th class="expand"></th>
    <th class="gender"></th>
    <th class="name">Name</th>
    <th class="reviewname">Review Name</th>
    <th class="summary">Summary</th>
    <th class="accdate">Due Date</th>
    <th class="status">Status</th>
    <th class="delete"></th>
  </tr>
</thead>
<tbody>
  <%- for review in reviews -%>
  <tr id="review_<%=review.id%>" class="review_title">
    <%= render "review_tds", :review => review %>
  </tr>
  <tr id="review_<%=review.id%>_reviewers" class="reviewer_content reviewer_content_hide">
    <td colspan="8" class="rowwrap">
    </td>
  </tr>
  <%- end -%>
</table>
