<tr class="review_<%=@review.id%> reviewer_buttons">
  <td colspan="6">
    <%= link_to "Invite Selected Reviewers", "" %> <%= link_to "Remind Selected Reviewers", "" %> <%= link_to "Add Reviewers", new_review_reviewer_url(@review), :class => "add_reviewer_button", :remote => true %></tr>
  </td>
</tr>
