<tr class="reviewer_buttons">
  <td colspan="6">
    <%= link_to "Invite Selected Reviewers", "" %> <%= link_to "Remind Selected Reviewers", "" %> <%= link_to_function "Add Reviewers", "reviewers_dialog()", :class => "add_reviewer_button" %></tr>
  </td>
</tr>
