<div id="global">
  <div class="pagewidth">
    <ul id="menu">
      <li><%= link_to_menu "Dashboard", dashboard_url %></li>
      <li><%= link_to_menu "People", people_url %></li>
      <li><%= link_to_menu "Administrate Reviews", reviews_url, :class => "my withicon" %></li>
      <li><%= link_to_menu "Administrate Questionnaires", admin_question_sheets_url %></li>
    </ul>
  </div>
</div>
