<html>
  <head>
    <title><%= @person %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css">
  </head>
  <body onload='window.print()'>
    <%= yield %>   
  </body>
</html>
