<html>
  <head>
    <title><%= @person %></title>
  </head>
  <body onload='window.print()'>
    <%= yield %>   
  </body>
  <script>
    $(function() {
      fixGridColumnWidths();
    });
  </script>
</html>
